// common constants

$modal-z-index: 1;

// color constatns

$first-main-color-for-theme-1: rgb(80, 80, 215);
$second-main-color-for-theme-1: rgb(200, 60, 140);

$first-main-color-for-theme-2: rgb(80, 130, 215);
$second-main-color-for-theme-2: rgb(60, 60, 200);

$first-main-color-for-theme-3: rgb(10, 105, 30);
$second-main-color-for-theme-3:rgb(30, 135, 15);

$first-main-color-for-theme-4: rgb(55, 60, 55);
$second-main-color-for-theme-4:rgb(100, 100, 100);

$first-main-color-for-theme-5: rgb(90, 20, 20);
$second-main-color-for-theme-5:  rgb(175, 0, 0);
